/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    /*margin: 0 .3em;*/
    background-color: #f5f5f5;
}

#loadingScreen {
    max-height: 16em;
    max-width: 40em;
    text-align: center;
    padding: 1.5em;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    font-size: 1.1em;
}

input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0 3px 3px;
    margin: 5px 1px 3px 0;
    border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0 3px 3px;
    margin: 5px 1px 3px 0;
    border: 1px solid rgba(81, 203, 238, 1);
}

#topbar {
    font-size: 1.2em;
    min-height: 2em;
    line-height: 2em;
}

.mainWrapper {
    margin: 0 auto;
    text-align: center;
}

.mainLinks {
    margin: 0;
    background-color: #8D8D8D;
}

.mainLinks a {
    display: inline-block;
    height: 9vw;
    /*min-height: 80px;*/
    text-decoration: none;
    color: white;
    background-color: #484848;
}

.mainLinks a.bigButton{
    width: 19vw;
    /*min-width: 180px;*/
    vertical-align: middle;
    line-height: 9vw;
    font-size: 7.25vw;
}

.mainLinks #toggleButton{
    background-color: #00B008;
}

.mainLinks #resetButton{
    /*margin-left: -.05em;*/
    background-color: #D00;
}

.mainLinks a.leftRightButton{
    width: 9vw;
    /*min-width: 80px;*/
    vertical-align: middle;
    line-height: 9vw;
    font-size: 4.5vw;
}

.mainLinks .doubleArrow{
    margin-top: .1em;
}

.mainWatch {
    font-size: 15vw;
    font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
    background-color: #323232;
    color: white;
    margin: 0;
    padding-bottom: .5vw;
    line-height: 16vw;
}

.Module {
    border: 1px solid black;
    padding: 0 1em;
    margin: 1em 0;
}

.Module.activeModule {
    animation-name: activeModuleGlow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
    -webkit-animation-name: activeModuleGlow;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    -webkit-animation-direction: alternate;
}

@-webkit-keyframes activeModuleGlow {
    from {
        background-color: #24ff24;
    }
    to {
        background-color: #b6ffb0;
    }
}

@keyframes activeModuleGlow {
    from {
        background-color: #24ff24;
    }
    to {
        background-color: #b6ffb0;
    }
}

@media (max-width: 768px) {
    .mainWatch {
        font-size: 17vw;
        line-height: 18vw;
    }

    .mainLinksWrapper {
        max-width: 530px;
    }

    .mainLinks a {
        height: 90px;
        line-height: 90px;
    }

    .mainLinks a.bigButton{
        width: 34%;
        line-height: 90px;
        font-size: 83px;
    }

    .mainLinks a.leftRightButton{
        width: 16%;
        /*min-width: 80px;*/
        vertical-align: middle;
        line-height: 90px;
        font-size: 52px;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media (max-width: 480px) {
    #loadingScreen {
        font-size: .9em;
    }

    .Module {
        padding: 0 .5em;
    }

    .Module p {
        margin: .4em;
    }
}

@media (max-width: 360px) {
    .mainWatch {
        font-size: 4.75em;
        line-height: 1.25em;
    }

    #hourDisplay {
        display: none;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
